.fondo{
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(0,204,255,1) 0%, rgba(0,253,133,1) 100.2% );
    
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: fixed;
}
.fondoa{
    background-image: url(Recursos/Warning.gif);
    
    
}
.fondob{
    background-image: url(Recursos/335199.jpg);
}
.tex1{
    font-size: 35px;
    color: black;

}
.tex2{
    color: #156404;
    font-size: 25px;
}
.tex3{
    font-size: 30px;
    text-align: center;
}
.table1{
    width: 100%;
    padding: 20px;
   
    border-radius: 12px;
    

}
.img1{
    border-radius: 15px;
    width: 120px;
}
.img2{
    border-radius: 10px;
    width: 30%;
}
.back{
    margin: 20px;
    border-radius: 15px;
    width: 135px;
    
}
.cent{
    text-align: center;
}